@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7d2ae8;
}


.form-content {
  height: 100%;
  width: 100%;
  background: #fff;
}

.container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

form .form-content .title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color:#333;
    
}
form .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #7d2ae8;
}

form .form-content .input-boxes{
    margin-top: 30px;
}

form .form-content .input-box
{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

form .form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

form .form-content .input-box input:focus,
form .form-content .input-box input:valid{
  border-color: #7d2ae8;
}
.form-content .input-box i{
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}

/* form .form-content .text{
  font-size: 10px;
  font-weight: 500;
  color:#333;
  text-align: center;
  position: relative;
  top:20px
} */
form .form-content .text2{

  position: relative;
  top:20px;
}
form .form-content .text2 div{
  font-size: 20px;
  font-weight: 500;
  color:rgb(30, 105, 11);
  text-align: center;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding:10px 10px;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  border-radius: 4px;
  font-family: 'Montserrat Alternates', sans-serif;
  
}
 

form .form-content .text2 div p{
  font-size: 15px;
  font-weight: 800;
  color:rgb(9, 7, 146);
  text-align: center;
  font-family: 'Staatliches', cursive;
  letter-spacing: 3px;
  position: relative;
  
 

 
}



/* 
form .form-content  .button input{
  color: #fff;
  margin-top:20px;
  background:#7d2ae8;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size:20px;
  font-weight: 500;
  border-radius: 3px;
  transition: all 0.4s ease;
  cursor: pointer;
}

form .form-content  .button input:hover{
  background: #5b13b9;
} */
