.App {
  text-align: center;
}

body {
  margin: 0 auto;
  width: 50%;
  background-color: rgb(39, 36, 36);
}

.App-link {
  color: #61dafb;
}
button {
  height: 30px;
  width: 100px;
  background-color: blueviolet;
  color: whitesmoke;
  border-radius: 10px;
  border: none;
  font-size: 22px;
  cursor: pointer;

  
  
}

p{
 
  color: red;
  font-weight: bolder;
  font-size: 30px;
  cursor: progress;
  text-align: center;
  padding: 0.5rem 0.1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  text-align: center;
}
